
  .title{
    text-align:top;
    top:20px;
    color: #ffc400;
    margin-top: 100px;
    margin-left: 100px;
margin-right: 100px;
 margin-bottom: 100px;
    font-family: Verdana;
    font-size: 40pt;
    font-weight: bold;
     background-color: rgba(110, 110, 161, 0.719);


  }
  .rules {
    background-color: rgba(110, 110, 161, 0.719);
    border-style: solid;
    margin-top: 10px;
    margin-left: 100px;
margin-right: 100px;
margin-bottom: 100px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
  
  }